.btn {
  text-transform: uppercase;
  font-size: 0.675em;
  height: 50px;
  width: 200px;
  text-align: center;
  line-height: 50px;
  background: $accent-color;
  color: $white;
  border-radius: 5px;
}
