.page-header {
  .navigation {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    background-color: $black;
    border-bottom: 3px solid $accent-color;
    color: $icon-grey;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      height: 100px;
    }
    .navigation__left, .navigation__right {
      padding: 20px;
      text-align: center;
      @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
      }
    }
    .navigation__right {
      .cart, .favourite {
        position: relative;
        display: inline-block;
      }
      .cart__total {
        margin: 20px auto;
        @media screen and (min-width: 768px) {
          margin-right: 50px;
          margin-left: 25px;
        }
      }
    }
    .page-header__icon {
      height: 30px;
      &.badge-icon {
        height: 35px;
      }
    }
  }
}
