.page-header {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  background-color: $black;
  border-bottom: 3px solid $accent-color;
  color: $icon-grey;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
  }
  .nav-left, .nav-right {
    padding: 20px;
    text-align: center;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
  .nav-left {
  }
  .nav-right {
    .cart-wrapper {
      position: relative;
      .cart {
        //margin-right: 25px;
      }
      .quantity-lbl {
        position: absolute;
        top: 0px;
        right: 0;
        z-index: 3;
        height: 25px;
        width: 25px;
        background-color: $accent-color;
        border-radius: 50%;
        color: $white;
        line-height: 25px;
        text-align: center;
        font-size: 0.775em;
        transform: translate(50%, -50%);
      }

    }
    .cart-total {
      margin: 20px auto;
      @media screen and (min-width: 768px) {
        margin-right: 50px;
        margin-left: 25px;
      }
    }
  }
  img {
    height: 30px;
    &.badge {
      height: 40px;
    }
  }
}
