.page-wrap.product {
  font-family: $primary-font;
  .product-container {
    padding: 50px;
    height: auto;
    background-image:
      linear-gradient(
      to top,
      $bg-color, $gradient
      );
      .product-wrap {
        &:after {
          display: block;
          content: "";
          clear: both;
        }
      }
    .product-image, .product-description {
      width: 100%;
      @media screen and (min-width: 768px) {
        width: 50%;
        height: 640px;
      }
    }
    .product-image {
      background-color: $grey;
      float: left;
      img {
        @media screen and (min-width: 768px) {
          transform: translateY(50%);
        }
      }
    }
    .product-description {
      background-color: $white;
      float: left;
      padding: 30px;
      .first-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          margin-top: 0;
          &:first-of-type {
            text-transform: uppercase;

          }
          &:last-of-type {
            text-transform: capitalize;
          }
        }
      }
      .basket {
        display: flex;
        justify-content: space-between;
        .product-price {
        }
        .price-lbl {
          display: inline-block;
          font-size: 1.8em;
          font-weight: 300;
          &:first-of-type {
            margin-right: 10px;
          }
          &.discount {
            font-weight: 400;
          }
        }
        .rrp {
          width: 100%;
        }
      }
      .product-stock {
        margin-top: 50px;
        .country {
          margin-right: 20px;
          margin-left: 20px;
        }
      }
      .product-info {
        ul {
          list-style: initial;
          padding-left: 20px;
        }
      }
      .product-rating {
        margin-top: 20px;
        .star-rating {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
      .title {
        text-transform: capitalize;
        font-weight: 300;
        font-size: 2em;
        margin-top: 0;
      }
    }
    .product-bar {
      margin-top: 50px;
      background-color: $white;
      @media screen and (min-width: 768px) {
        //height: 100px;
        line-height: 100px;
        text-align: center;
      }
      .bar-items {
        display: block;
        text-align: center;
        @media screen and (min-width: 768px) {
          display: flex;
          height: 100%;
          padding: 20px;
        }
        p {
          margin: 0;
        }
        div {
          text-transform: capitalize;
          padding: 20px;
          @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            padding: 0;
          }
          img {
            width: 35px;
            margin-right: 10px;
          }
        }
        .bar-item__favourite img {
          margin-right: 0;
          @media screen and (min-width: 768px) {
            margin-right: 10px;
          }
        }
        .bar-item__notification {
          img {
            width: 45px;
          }
        }
        .bar-item__price {
          flex-direction: column;
          line-height: initial;
          p {
            margin-bottom: 5px;
          }
          .big-price {
            margin-top: 0;
            font-size: 24px;
            font-weight: 500;
          }
        }
        .bar-item__cards {
          flex-direction: column;
          line-height: initial;
          p {
            text-align: center;;
            width: 100%;
            margin-bottom: 10px;
            @media screen and (min-width: 768px) {
              text-align: left;
            }
          }
          .cards-wrapper {
            display: flex;
            align-items: flex-start;
            padding: 0;
            img {
              width: 25%;
              margin-right: 0;
              &+ img {
                margin-left: 10px;
              }
            }
            @media screen and (min-width: 768px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
