.product-page {
  font-family: $primary-font;
  .page-container {
    padding: 50px;
    height: auto;
    background-image:
      linear-gradient(
      to top,
      $bg-color, $gradient
      );
    .product__image, .product__description {
      width: 100%;
      @media screen and (min-width: 768px) {
        width: 50%;
        height: 640px;
      }
    }
    .product__image {
      background-color: $grey;
      float: left;
      overflow: hidden;
      img {
        transition: transform 0.8s ease-in-out;
        &:hover {
          cursor: crosshair;
          transform: scale(1.5);
        }
        @media screen and (min-width: 768px) {
          transform: translateY(50%);
        }
      }
    }
    .product__description {
      background-color: $white;
      float: left;
      padding: 30px;
      &-meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          margin-top: 0;
          &:first-of-type {
            text-transform: uppercase;

          }
          &:last-of-type {
            text-transform: capitalize;
            text-align: right;
          }
        }
      }
      &-title {
        .title {
          text-transform: capitalize;
          font-weight: 300;
          font-size: 2em;
          margin-top: 0;
        }
      }
      &-basket {
        display: flex;
        justify-content: space-between;
        .price__lbl {
          display: inline-block;
          font-size: 1.8em;
          font-weight: 300;
          &:first-of-type {
            margin-right: 10px;
          }
          &.discount {
            font-weight: 400;
          }
        }
        .price__rrp {
          width: 100%;
        }
      }
      &-stock {
        margin-top: 50px;
        .country {
          margin-right: 20px;
          margin-left: 20px;
        }
      }
      &-info {
        ul {
          list-style: initial;
          padding-left: 20px;
        }
      }
      &-rating {
        margin-top: 20px;
        .star-rating {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    .product-bar {
      margin-top: 50px;
      background-color: $white;
      @media screen and (min-width: 768px) {
        line-height: 100px;
        text-align: center;
      }
      &__items {
        display: block;
        text-align: center;
        @media screen and (min-width: 768px) {
          display: flex;
          height: 100%;
          padding: 20px;
        }
        p {
          margin: 0;
        }
        .product-bar__item {
          text-transform: capitalize;
          padding: 20px;
          @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            padding: 0;
          }
          img {
            width: 35px;
            margin-right: 10px;
          }
        }
        .icon {
          transition: transform 0.3s ease-in-out;
          &:hover {
            transform: scale(1.2);
          }
        }
        &-favourite img[class=icon] {
          margin-right: 0;
          @media screen and (min-width: 768px) {
            margin-right: 10px;
          }
        }
        &-notification {
          img[class=icon] {
            width: 45px;
          }
        }
        &-price {
          flex-direction: column;
          line-height: initial;
          p {
            margin-bottom: 5px;
          }
          .big-price {
            margin-top: 0;
            font-size: 24px;
            font-weight: 500;
          }
        }
        &-cards {
          flex-direction: column;
          line-height: initial;
          p {
            text-align: center;;
            width: 100%;
            margin-bottom: 10px;
            @media screen and (min-width: 768px) {
              text-align: left;
            }
          }
          .cards-wrapper {
            display: flex;
            align-items: flex-start;
            padding: 0;
            img {
              width: 25%;
              margin-right: 0;
              @media screen and (min-width: 768px) {
                width: 20%;
              }
              &+ img {
                margin-left: 10px;
              }
            }
            @media screen and (min-width: 768px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
