.discount {
  text-decoration: line-through;
  color: $red;
}

.greyed-out {
  color: $text-grey;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.quantity-lbl {
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 3;
  height: 25px;
  width: 25px;
  background-color: $accent-color;
  border-radius: 50%;
  color: $white;
  line-height: 25px;
  text-align: center;
  font-size: 0.775em;
  transform: translate(50%, -50%);
}
