.discount {
  text-decoration: line-through;
  color: $red;
}

.greyed-out {
  color: $text-grey;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}
