.discount {
  text-decoration: line-through;
  color: $red;
}

.greyed-out {
  color: $text-grey;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

.clear-fix {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.no-scroll {
  overflow: hidden;
}
